<style>
    .navBardemoBasicUsage md-content .ext-content {
        padding: 50px;
        margin: 20px;
        background-color: #FFF2E0; }
</style>
<div ng-controller="navController" ng-cloak>
    <md-content class="md-padding">
        <md-nav-bar
                md-no-ink-bar="disableInkBar"
                md-selected-nav-item="currentNavItem"
                nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="goto('page1')" name="page1">
                Page One
            </md-nav-item>
            <md-nav-item md-nav-click="goto('page2')" name="page2" ng-disabled="secondTabDisabled">
                Page Two
            </md-nav-item>
            <md-nav-item md-nav-click="goto('page3')" name="page3">
                Page Three
            </md-nav-item>
            <md-nav-item md-nav-click="goto('page4')" name="page4" disabled>
                Page Four
            </md-nav-item>
            <!-- these require actual routing with ui-router or ng-route, so they
            won't work in the demo
            <md-nav-item md-nav-href="#page4" name="page5">Page Four</md-nav-item>
            <md-nav-item md-nav-sref="app.page5" name="page4">Page Five</md-nav-item>
            You can also add options for the <code>ui-sref-opts</code> attribute.
            <md-nav-item md-nav-sref="page6" sref-opts="{reload:true, notify:true}">
              Page Six
            </md-nav-item>
            -->
        </md-nav-bar>
        <span>{{status}}</span>
        <div class="ext-content">
            External content for `<span>{{currentNavItem}}</span>`.
        </div>

        <md-checkbox ng-model="disableInkBar">Disable Ink Bar</md-checkbox>

        <md-checkbox ng-model="secondTabDisabled" aria-label="Disable Second Tab" style="margin: 5px;">
            Disable Second Tab
        </md-checkbox>

    </md-content>
</div>
<div ng-controller="homeController as ctrl" layout="column" ng-cloak style="margin-top: 15px;">
    <md-content class="md-padding">
        <form ng-submit="$event.preventDefault()">
            <md-autocomplete
                    ng-disabled="ctrl.isDisabled"
                    md-no-cache="ctrl.noCache"
                    md-selected-item="ctrl.selectedItem"
                    md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                    md-search-text="ctrl.searchText"
                    md-selected-item-change="ctrl.selectedItemChange(item)"
                    md-items="item in ctrl.querySearch(ctrl.searchText)"
                    md-item-text="item.display"
                    md-min-length="0"
                    placeholder="What is your favorite US state?">
                <md-item-template>
                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                </md-item-template>
                <md-not-found>
                    No states matching "{{ctrl.searchText}}" were found.
                    <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
                </md-not-found>
            </md-autocomplete>
            <br/>
            <md-checkbox ng-model="ctrl.simulateQuery">Simulate query for results?</md-checkbox>
            <md-checkbox ng-model="ctrl.noCache">Disable caching of queries?</md-checkbox>
            <md-checkbox ng-model="ctrl.isDisabled">Disable the input?</md-checkbox>
        </form>
    </md-content>
</div>

<div id = "toastContainer" ng-controller = "homeController"
     layout = "row" ng-cloak>
    <md-button ng-click = "showToast1()">Show Simple Alert</md-button>
    <md-button ng-click = "showToast2()">Show Alert with callback</md-button>
</div>